<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>985901234756-2spouj5rur60vsbsv8e16v39kepljkkp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.985901234756-2spouj5rur60vsbsv8e16v39kepljkkp</string>
	<key>API_KEY</key>
	<string>AIzaSyDZQ6GyuDLxD2Ee2_mhYxfhoKdOH2pE7PY</string>
	<key>GCM_SENDER_ID</key>
	<string>985901234756</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gmail-andrusha20022002.InternetShop</string>
	<key>PROJECT_ID</key>
	<string>internetshop-f3263</string>
	<key>STORAGE_BUCKET</key>
	<string>internetshop-f3263.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:985901234756:ios:9781677e7450a1493e1a11</string>
</dict>
</plist>